<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-2 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                <h1 style="color: #fb873f;">Invest in your professional goals with Apana Time</h1>
                <p class="mb-5">Get unlimited access to over 90% of courses, Projects, Specializations, and
                    Professional Certificates on Coursera, taught by top instructors.</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="assets/img/icon1.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Learn Anything, Anytime</h5>
                        <p>Explore interests, master trending skills, and build a solid foundation with prerequisite courses to achieve your goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="assets/img/icon2.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Save money</h5>
                        <p>Choose affordable courses and invest in your growth without overspending!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="assets/img/icon3.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Flexible learning For You</h5>
                        <p>Learn at your pace, explore multiple courses, or switch anytime—tailored to your schedule and goals!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <img src="assets/img/icon4.png" alt="" width="60px" class="mb-4">
                        <h5 class="mb-3">Unlimited certificates</h5>
                        <p>Earn free certificates for every course and build an impressive portfolio!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->