<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center px-3">Categories</h6>
            <h1 class="mb-5" style="color: #fb873f;">Popular Topics to Explore</h1>
        </div>
        <div class="row g-2 m-2">
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat1.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">Microsoft Excel</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat2.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center"> AWS</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat3.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">Python</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat4.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">Java</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat5.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">Web Design</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat6.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">Web Development</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat7.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">MySQL</a>
                    </h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  text-center">
                <div class="content shadow p-3 mb-2 wow fadeInUp" data-wow-delay="0.3s">

                    <img src="assets/img/cat8.png" class="img-fluid" alt="categories">

                    <h5 class="my-2">
                        <a href="#" class="text-center">UI/UX Design</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->